@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    color:#0d6efd !important; 
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(208, 219, 231) !important;
    color: #0d6efd !important;
}

#inicio{
    color:#0d6efd !important;
}

.navbar-brand{
    color: #0d6efd !important;
    font-weight: bold;
}

legend{
    font-weight: bold;
}

.nav-item{
    color: #0d6efd !important;
}

.form-control{
    border: 2px solid #495057 !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 2px 8px rgba(32, 114, 232, 0.15) !important;

}

#agregar {
  border: 2px solid #007bff !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 2px 8px #007bff !important;
}

#agregar :hover {
    background-color: #0d3055 !important;
}

#conteo{
    text-align: center;
}

.checkbox_personalizado{
    border: 2px solid #007bff !important;
    cursor: pointer;
}

footer{
    color: #0d6efd;
    margin-top: auto;
    padding: 1rem;
}

#logos_enlace{
    text-align: center;
}

